﻿<div class="col-md-12">
    <h4>Добавление/редактирование платёжного обязательства</h4>
</div>
<div class="row">
    <form class="col-md-12" ng-submit="$ctrl.savePayment()">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" class="form-control" name="name" ng-model="$ctrl.payment.name" ng-required="true">
            </div>
            <div class="form-group">
                <label for="type">Тип:</label>
                <select class="form-control" 
                        ng-options="$ctrl.pTypes.indexOf(selectedItem) as selectedItem for selectedItem in $ctrl.pTypes" 
                        ng-model="$ctrl.payment.pType" ng-required="true">
                </select>
            </div>
            <div class="form-group">
                <label for="createDate">Дата создания</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="$ctrl.payment.createDate" is-open="startDateOpen" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startDateOpen=!startDateOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.payment.pType!=2">
                <label for="createDate">Дата окончания обязательства</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="$ctrl.payment.paymentParts[$ctrl.payment.paymentParts.length - 1].date" is-open="endDateOpen" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="endDateOpen=!endDateOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="sum">Сумма</label>
                <input type="number" class="form-control" name="sum" ng-model="$ctrl.payment.sum" ng-required="true" min="0"/>
            </div>
            <div class="form-group">
                <label for="sumRemained">Оставшаяся сумма</label>
                <input type="number" class="form-control" name="sumRemained" ng-model="$ctrl.payment.sumRemained" ng-required="true" min="0"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" ng-if="$ctrl.payment.pType==2">
                <h4>График платежей</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Крайний срок
                            </th>
                            <th>
                                Платёж
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="paymentPart in $ctrl.payment.paymentParts">
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" 
                                       ng-model="paymentPart.date" is-open="paymentPart.open" ng-required="true" 
                                       close-text="Close" ng-change="$ctrl.sortByDate()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="paymentPart.open=!paymentPart.open"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="paymentPartDate-{{$index}}" class="form-control" ng-model="paymentPart.sum" ng-required="true" />
                        </td>
                        <td>
                            <a class="btn btn-alert" ng-click="$ctrl.removePaymentPart($index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </table>
                <a class="btn btn-success" ng-click="$ctrl.addPaymentPart()">
                    <i class="glyphicon glyphicon-plus"></i>
                    Добавить элемент в график
                </a>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 1em">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button class="btn btn-warning" ui-sref="payments"><span>К списку платежей</span></button>
        </div>
    </form>
</div>

